DOCTYPE html
    html
        head
            title Channel

        body
            .top
                h2#channel Channel Name
                h2#admin Admin Name
                p.desc
                    "The description goes here"
            .bottom
                span.sub
                    h4#req Requirement Name
                    