doctype html
html(lang="en")
  head
    title Login 
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/public/signincss.css')
  body
    h1 EMERGENCY AID TRACKER
    #login
     form(action="#")
       div.label login
       div.username
        input(type="text" id="inputEmail" class="form-control" placeholder="username" required autofocus)
       div.password
        input(type="password" id="password" class="form-control" placeholder="password" required)
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        |Remember me
       div .but
        a(href='#') 
          button(type="button") Login
       //button(type="button") login
    #channel
       h3 Channels
       div.clink
        p
          a(href="#") Channel1 
          br
          a(href="#") Channel2
          br
          a(href="#") Channel3
    